#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteCond $1 !^(index\.php|images|robots\.txt)
#RewriteRule ^(.*)$ index.php/$1 [L]
#</IfModule>

RewriteEngine On RewriteBase /ci1
RewriteCond $1 !^(index\.php|images|assets|js|css|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]